<footer class="footer mt-5">
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-md-3">
        <a href="{{ '/' | url }}" class="d-flex align-items-center text-dark text-decoration-none">
          <img class="logo" src="/assets/images/logo_dark.png" alt=""/>

        </a>
        <p class="mt-3">
            Digital Transformation is not only
about changing what your firm does,
but also about changing how your firm
makes Decisions. Data can help you
prioritize solutions to your businesss
problems
          </p>
      </div>
      <div class="col-md-3">
        <ul >
          <li>
            <b class="footer-heading">Home</b>
          </li>
          <li>About</li>
          <li>Blog</li>
          <li>THought Leadership</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul >
          <li>
            <b class="footer-heading">Custom Software Development</b>
          </li>
          <li>Software Product Development</li>
          <li>Data Engineering</li>
          <li>AVR</li>
          <li>E-Commerce</li>
          <li>Mobile Application Devel</li>
          <li>AVR</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul >
          <li>
            <b class="footer-heading">Intelligent Platforms</b>
          </li>
          <li>Insights/AI</li>
          <li>LMS</li>
          <li>IoT</li>
          <li>RPA</li>
          <li>RFID</li>
          <li>Gen AI</li>
          <li>Fleet Management</li>
        </ul>
      </div>
    </div>
  </div>
</footer>