.home-hero {
  &__info {
  }
  &__triangle {
    position: relative;
    width: 693px;
    img {
      width: 600px;
      position: relative;
      left: -100px;

      animation: trianlge_blur 3s normal;
    }
    .hr {
      background-color: orange;
      height: 2px;
    }

    &__h1 {
      position: absolute;
      right: 211px;
      top: 144px;
      transform: rotate(30deg);
      animation: title_anime_1 4s normal;
    }

    &__h2 {
      position: absolute;
      left: -68px;
      top: 344px;
      transform: rotate(270deg);
      animation: title_anime_2 4s normal;
    }
    &__h3 {
      position: absolute;
      right: 232px;
      bottom: 41px;
      transform: rotate(149deg);
      animation: title_anime_3 4s normal;
    }
  }
}

@keyframes trianlge_blur {
  0% {
    filter: blur(75px);
  }

  100% {
    filter: blur(0px);
  }
}

@keyframes title_anime_1 {
  0% {
    right: 285px;
    top: 106px;
  }
}

@keyframes title_anime_2 {
  0% {
    top: 400px;
  }
}

@keyframes title_anime_3 {
  0% {
    right: 94px;
    bottom: 116px;
  }
}

.particles-js-canvas-el {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.vh-md-100 {
  margin-bottom: 100px;
}

@include media-breakpoint-up(xl) {
  .vh-md-100 {
    height: 100vh !important;
    margin-bottom: 0px;
  }
  .home-hero__info {
    padding-top: 251px;
  }
}
