.rpa-header-text {
  position: absolute;
  bottom: 0px;
  background-color: #ffffff1f;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px 0px;
}

.rpa .img-icon {
  width: 100px;
}
