// block data integration automation start //

.data-integration-automation {
  .list-group {
    --bs-list-group-border-color: black;
    border-color: black;
  }
  .right-arrow {
    height: 6rem;
  }
  h6 {
    font-weight: bold;
  }
}

// block data integration automation end //
