---
layout: base
eleventyNavigation:
  key: Intelligent Fleet management
  order: 3
  parent: Platforms
title: Intelligent Fleet management
class: fleet
---

<section class="container mt-70 vh-100 fleet__header d-flex justify-content-start align-items-center ">
    <div class="row w-100">
        <div class="ps-5 col-md-10">
            <div class="">
                <h2 class="fw-bold">Optimize Your Fleet Operations with <span class="text-orange">Kaleitics</span>
                    <br/>Fleet Management Platform</h2>
                <p class="fw-bold">Harness the Power of AI to Generate Novel Solutions and Ideas</p>
                <button class="btn btn-primary hvr-radial-out px-5 py-3 b-30">Contact us</button>
            </div>
        </div>

    </div>
</section>

<section class="container-fluid mt-5 bg-grey p-5">
    <div class="container">
        <p class="fs-5 fw-bold">
        "<span class="text-orange">Kaleitics</span> offers cutting-edge Fleet Management solutions tailored to scale with your business needs. Our platform ensures a seamless integration into your existing operations, enhancing fleet efficiency, and providing comprehensive oversight of your end-to-end fleet activities. We partner with you to drive operational excellence, reduce expenditures, and elevate the performance of your vehicle fleet through intelligent analytics, delivering measurable results and a robust return on investment."
    </p>
    </div>
</section>

<section class="container mt-5">
    <h2 class="fw-bold text-center my-5">Key Benefits</h2>
    <div class="row">
        <div class="col-md-3 text-center">
            <div >
                <img class="w-50" src="/assets/images/fleet/a1.png" alt="">
                <h4 class="fw-bold mt-3">Scalability and Flexibility</h4>
                <p class="bullet">"Easily scales and flexes with business growth."</p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div >
                <img class="w-50" src="/assets/images/fleet/a2.png" alt="">
                <h4 class="fw-bold mt-3">Seamless Integration</h4>
                <p class="bullet">"Integrates smoothly with existing systems."</p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div >
                <img class="w-50" src="/assets/images/fleet/a3.png" alt="">
                <h4 class="fw-bold mt-3">Improved Fleet Efficiency</h4>
                <p class="bullet">"Boosts fleet performance and efficiency."</p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div >
                <img class="w-50" src="/assets/images/fleet/a4.png" alt="">
                <h4 class="fw-bold mt-3">End-to-End Monitoring</h4>
                <p class="bullet">"Complete visibility from start to finish."</p>
            </div>
        </div>
    </div>
    <div class="row mt-5">

        <div class="col-md-3 text-center">
            <div >
                <img class="w-50" src="/assets/images/fleet/a5.png" alt="">
                <h4 class="fw-bold mt-3">Cost Reduction</h4>
                <p class="bullet">"Significantly cuts operational expenses."</p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div >
                <img class="w-50" src="/assets/images/fleet/a6.png" alt="">
                <h4 class="fw-bold mt-3">Enhanced Vehicle Utilization</h4>
                <p class="bullet"> "Optimizes vehicle fleet use."</p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div >
                <img class="w-50" src="/assets/images/fleet/a7.png" alt="">
                <h4 class="fw-bold mt-3">Intelligent Analytics</h4>
                <p class="bullet">"Smart insights for data-driven decisions."</p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div >
                <img class="w-50" src="/assets/images/fleet/a8.png" alt="">
                <h4 class="fw-bold mt-3">Expert Collaboration</h4>
                <p class="bullet">"Expert partnership for peak performance."</p>
            </div>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-md-4 mx-auto text-center">
            <button class="btn-style-6 fs-5 b-30 fw-bold">Know More</button>
        </div>
    </div>
</section>

<section class="container mt-5">
    <h2 class="fw-bold text-center">
        Advanced Fleet Management Platform
    </h2>
    <div class="d-flex align-items-start">
        <div class="row">
            <div class="nav nav-pills p-5 rounded col-md-6" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link fw-bold fs-20 active py-4 text-start" id="v-pills-case-1" data-bs-toggle="pill" data-bs-target="#case-1" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                    <span class="fs-5 fw-bold">Hosted Solutions</span><br/>
                    <span class="fw-normal fst-italic">Efficiency Meets Innovation in the Cloud</span></button>
                <button class="nav-link fw-bold fs-20 py-4 text-start" id="v-pills-case-2" data-bs-toggle="pill" data-bs-target="#case-2" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                    <span class="fs-5 fw-bold">Integrated Solutions</span><br/>
                    <span class="fw-normal fst-italic">GPS and Driver's Mobile App</span><</button>
                <button class="nav-link fw-bold fs-20 py-4 text-start" id="v-pills-case-3" data-bs-toggle="pill" data-bs-target="#case-3" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"> <span class="fs-5 fw-bold">Historical Data</span><br/>
                    <span class="fw-normal fst-italic">Tracking History up to 12 Months</span><</button>
                <button class="nav-link fw-bold fs-20 py-4 text-start" id="v-pills-case-3" data-bs-toggle="pill" data-bs-target="#case-4" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"> <span class="fs-5 fw-bold">Alerts System</span><br/>
                    <span class="fw-normal fst-italic">ETA and POD Notifications</span><</button>

            </div>
            <div class="tab-content  col-md-6 pt-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="case-1" role="tabpanel">
                    <div class="vstack bg-grey p-5 b-20">
                        <img src="/assets/images/fleet/sl1.png" class="w-100 mb-3" alt="">
                        <ul> 
                            <li>
                           <b>Cost-Effective:</b> Streamline your budget with our cloud-based platform, designed for savings.
                        </li>
                        <li>
                           <b>Accessible & Secure:</b> Access your fleet from anywhere with confidence in our robust security measures.
                        </li>
                            <li>
                           <b>Scalable:</b> Effortlessly adapt to your growing business needs with a solution that expands with you.
                        </li>
                        <li>
                           <b>Reduced IT Overhead:</b> Say goodbye to complex infrastructures. Our platform is simple to integrate and easy on your IT resources.
                        </li>
                        <li>
                           <b>Onboarding Simplified:</b> Jumpstart your fleet management with an intuitive interface and user-friendly design.
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="case-2" role="tabpanel">
                    <div class="vstack bg-grey p-5 b-20">
                        <img src="/assets/images/fleet/sl2.png" class="w-100 mb-3" alt="">
                      <ul>
                        <li>
                           <b>Dual Tracking:</b> Never lose sight with GPS and app-based tracking, ensuring constant connectivity.
                        </li>
                        <li>
                           <b>Local Data Storage:</b> Trust in uninterrupted data collection, even offline. Automatically syncs when back online.
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="case-3" role="tabpanel">
                    <div class="vstack bg-grey p-5 b-20">
                        <img src="/assets/images/fleet/sl3.png" class="w-100 mb-3" alt="">
                        <ul><li>
                            <b>Data-Rich Audits:</b> Access comprehensive reports with 12-month tracking history for audits and performance reviews.
                        </li></ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="case-4" role="tabpanel">
                    <div class="vstack bg-grey p-5 b-20">
                        <img src="/assets/images/fleet/sl5.png" class="w-100 mb-3" alt="">
                        <ul><li>
                            <b>Operational Excellence:</b> Enhance supply chain visibility with real-time alerts on estimated times of arrival (ETA) and proof of delivery (POD).
                        </li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="container mt-5">
    
    <div class="row">
        <div class="col-md-12">
            {% include "../blocks/hexa_content.njk" %}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 mx-auto  text-center">
            <button class="btn-style-6 fs-5 b-30 fw-bold">Discover Full Insights</button>
        </div>
    </div>
</section>


<section class="container mt-20">
    {% set title = "Let us know what you think" %}
    {% set subtitle = "Please fill out the form below and our team will get back to you as soon as possible." %}
    {% set btntext = "Submit" %}
    {% include "../blocks/contact_form.njk" %}
</section>