---
layout: base
eleventyNavigation:
  key: Software Product Development
  order: 3
  parent: Services
title: Software Product Development
---

{%- from "../components/bg_image_content.njk" import bgImageHeader -%}

{% call bgImageHeader("/assets/images/services2_bg.png", 100, false) -%}
<div class="w-100 p-5">
    <h2 class="text-white ">Empowering Business Through <br/>Tailored Software Solutions.</h2>
    <p class="text-white">Transform Ideas into Robust Applications with Our Expert Developers</p>
    <button class="btn bg-white text-dark p-3 hvr-radial-out b-30 w-25 fw-bold">Request Consultation</button>
</div>
{%- endcall %}

{% include "../blocks/services_provided.njk" %}

<section class="container mt-20 text-center">
    <h1 class="fw-bold">Why <span class="text-orange">Kaleitics ?</span></h1>
    <div class="text-start">
        <ul>
            <li >
                <h3 class="fw-bold">Technical Skills: Cutting-edge programming languages and frameworks at your service.</h3>
            </li>
            <li >
                <h3 class="fw-bold">Project Management Excellence: Precision planning, execution, & adaptation with <span class="text-orange">SAFe 6.0</span>
                </h3>
            </li>
            <li >
                <h3 class="fw-bold">Security at the Forefront: Comprehensive compliance and data protection.</h3>
            </li>
            <li >
                <h3 class="fw-bold">Your Strategic Partner: Beyond code, we build relationships for success.</h3>
            </li>
        </ul>
    </div>
</section>
{% include "../blocks/software_product_development.njk" %}
<section class="container mt-20">
    {% set title = "Let Us Know What You Think" %}
    {% set subtitle = "Please fill out the form below and our team will get back to you as soon as possible." %}
    {% set btntext = "Submit" %}
    {% include "../blocks/contact_form.njk" %}
</section>