<section id="particles-js" class="container-fluid home-hero ">
    <div class="row vh-100 align-items-center">
        <div class="col-md-6 d-flex justify-content-center home-hero__info ">
            <div class="text-start w-auto" data-aos="fade-right">
                <h6 class="fw-bold">See Data <p class="text-orange d-inline">Differently</p>
                </h6>
                <h2 class="fw-bold">Building Intelligent Enterprises</h2>
                <p>Elevating performance with data driven Intelligence: Digital <br/>Transformation of Businesses into Intelligent Enterprises <br/>through Innovative solution and engagement models.</p>
                <button class="btn btn-primary rounded-50 px-5">What We Do</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="home-hero__triangle">
                <img src="/assets/images/home_triangle.png"/>
                <div class="home-hero__triangle__h1">
                    <h4 class="text-primary fw-bold">Intelligent Platforms</h4>
                    <div class="w-50 hr"></div>
                    <h6 class="text-primary mt-2">Humans + Machines = Intelligence</h6>
                </div>
                <div class="home-hero__triangle__h2">
                    <h4 class="text-primary fw-bold">Solution-as-a-Service</h4>
                    <div class="w-50 hr"></div>
                    <h6 class="text-primary mt-2">Deliverable Solutions</h6>
                </div>
                <div class="home-hero__triangle__h3">
                    <h4 class="text-primary fw-bold">Insights/AI Solutions</h4>
                    <div class="w-50 hr"></div>
                    <h6 class="text-primary mt-2">Analytics Driven Decision Making</h6>
                </div>
            </div>
        </div>
    </row>
</section>