<section id="particles-js" class="container-fluid home-hero header-offset">
    <div class="row vh-md-100 ">
        <div class="offset-xl-1 col-xl-5 col-md-10 d-flex home-hero__info pt-20">
            <div class="text-start w-auto" data-aos="fade-right">
                <h6 class="fw-bold">See Data <p class="text-orange d-inline">Differently</p>
                </h6>
                <h2 class="fw-bold">Building Intelligent Enterprises</h2>
                <p>Elevating performance with data driven Intelligence: Digital Transformation of Businesses into Intelligent Enterprises through Innovative solution and engagement models.</p>
                <button class="btn btn-primary rounded-50 fs-20 fw-bold px-5">What We Do</button>
            </div>
        </div>
        <div class="col-xl-6 col-md-12">
            <div>
                <div class="home-hero__triangle">
                    <img class="w-100" src="/assets/images/home_triangle.png"/>
                    <div class="home-hero__triangle__h1 text-center">
                        <h4 class="text-primary fw-bold">Intelligent Platforms</h4>
                        <div class="w-50 hr mx-auto"></div>
                        <h6 class="text-primary mt-2">Humans + Machines = Intelligence</h6>
                    </div>
                    <div class="home-hero__triangle__h2 text-center">
                        <h4 class="text-primary fw-bold">Solution-as-a-Service</h4>
                        <div class="w-50 hr mx-auto"></div>
                        <h6 class="text-primary mt-2">Deliverable Solutions</h6>
                    </div>
                    <div class="home-hero__triangle__h3 text-center">
                        <h4 class="text-primary fw-bold">Insights/AI Solutions</h4>
                        <div class="w-50 hr mx-auto"></div>
                        <h6 class="text-primary mt-2">Analytics Driven Decision Making</h6>
                    </div>
                </div>
            </div>
        </div>
    </row>
</section>