<section class="container aboutus-feedback mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <swiper-container class="d-flex justify-content-center p-5 bg-primary-light-50" pagination="true" pagination-clickable="true"  space-between="30"
    centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
                <swiper-slide>
                    <div class="text-start">
                        <p>
            "Beginning in late 2021, myNextory began partnering with Kaleitics to launch our career advisory learning platform. We began our journey ideating about the possibilities of bringing our mission: “Owning one’s career to life for every person.” In 2022, we created/developed (and implemented) our first journey, Win at Work - where we took the concept to production. Kaleitics continues to work with us on delivering, with our team, the dream of democratizing career advisory"
        </p>
                        <h5 class="text-orange">myNextory Leadership team</h5>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="text-start">
                        <p>
            "Beginning in late 2021, myNextory began partnering with Kaleitics to launch our career advisory learning platform. We began our journey ideating about the possibilities of bringing our mission: “Owning one’s career to life for every person.” In 2022, we created/developed (and implemented) our first journey, Win at Work - where we took the concept to production. Kaleitics continues to work with us on delivering, with our team, the dream of democratizing career advisory"
        </p>
                        <h5 class="text-orange">myNextory Leadership team</h5>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="text-start">
                        <p>
            "Beginning in late 2021, myNextory began partnering with Kaleitics to launch our career advisory learning platform. We began our journey ideating about the possibilities of bringing our mission: “Owning one’s career to life for every person.” In 2022, we created/developed (and implemented) our first journey, Win at Work - where we took the concept to production. Kaleitics continues to work with us on delivering, with our team, the dream of democratizing career advisory"
        </p>
                        <h5 class="text-orange">myNextory Leadership team</h5>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="text-start">
                        <p>
            "Beginning in late 2021, myNextory began partnering with Kaleitics to launch our career advisory learning platform. We began our journey ideating about the possibilities of bringing our mission: “Owning one’s career to life for every person.” In 2022, we created/developed (and implemented) our first journey, Win at Work - where we took the concept to production. Kaleitics continues to work with us on delivering, with our team, the dream of democratizing career advisory"
        </p>
                        <h5 class="text-orange">myNextory Leadership team</h5>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="text-start">
                        <p>
            "Beginning in late 2021, myNextory began partnering with Kaleitics to launch our career advisory learning platform. We began our journey ideating about the possibilities of bringing our mission: “Owning one’s career to life for every person.” In 2022, we created/developed (and implemented) our first journey, Win at Work - where we took the concept to production. Kaleitics continues to work with us on delivering, with our team, the dream of democratizing career advisory"
        </p>
                        <h5 class="text-orange">myNextory Leadership team</h5>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="text-start">
                        <p>
            "Beginning in late 2021, myNextory began partnering with Kaleitics to launch our career advisory learning platform. We began our journey ideating about the possibilities of bringing our mission: “Owning one’s career to life for every person.” In 2022, we created/developed (and implemented) our first journey, Win at Work - where we took the concept to production. Kaleitics continues to work with us on delivering, with our team, the dream of democratizing career advisory"
        </p>
                        <h5 class="text-orange">myNextory Leadership team</h5>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="text-start">
                        <p>
            "Beginning in late 2021, myNextory began partnering with Kaleitics to launch our career advisory learning platform. We began our journey ideating about the possibilities of bringing our mission: “Owning one’s career to life for every person.” In 2022, we created/developed (and implemented) our first journey, Win at Work - where we took the concept to production. Kaleitics continues to work with us on delivering, with our team, the dream of democratizing career advisory"
        </p>
                        <h5 class="text-orange">myNextory Leadership team</h5>
                    </div>
                </swiper-slide>

            </swiper-container>
        </div>
    </div>
</section>