<section class="{{ "container-fluid" if fluid else "container" }} mt-5 avr-why-us">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="fw-bold">Why Choose Kaleitic for Your Data Engineering Needs</h3>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-md-6 avr-why-us__left"  data-aos="flip-left">
            <div >
                <div class="avr-why-us__header" >
                    <div class="outer-circle d-flex">
                        <div class="inner-circle fw-bold">
                            1
                        </div>
                    </div>
                    <div class="avr-why-us__header__hr"></div>
                </div>
                <h6 class="fw-bold mt-2">Industry Expertise</h6>
                <p class="text-start">Our team brings a wealth of experience and a proven track record of <br/>success in data engineering.</p>
                <img src="/assets/images/avr/1.png" c/>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 avr-why-us__right"  data-aos="flip-right">
            <div >
                <div class="avr-why-us__header">
                    <div class="outer-circle d-flex">
                        <div class="inner-circle fw-bold">
                            2
                        </div>
                    </div>
                    <div class="avr-why-us__header__hr"></div>
                </div>
                <h6 class="fw-bold mt-2">Expertise Across Technologies and Industries</h6>
                <p class="text-start">Unmatched technical excellence in a wide range of technologies and deep industry insights. <br/>success in data engineering.</p>
                <img src="/assets/images/avr/2.png"/>
            </div>
        </div>
        <div><img src="/assets/images/avr/line1.png" class="avr-why-us__line1 d-none d-lg-block"/></div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-md-6 avr-why-us__left"  data-aos="flip-left">
            <div >
                <div class="avr-why-us__header">
                    <div class="outer-circle d-flex">
                        <div class="inner-circle fw-bold">
                            3
                        </div>
                    </div>
                    <div class="avr-why-us__header__hr"></div>
                </div>
                <h6 class="fw-bold mt-2">Customized Solutions Tailored to Your Business</h6>
                <p class="text-start">Bespoke software solutions precisely crafted to meet your unique business challenges.</p>
                <img src="/assets/images/avr/3.png" c/>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 avr-why-us__right"  data-aos="flip-right">
            <div >
                <div class="avr-why-us__header">
                    <div class="outer-circle d-flex">
                        <div class="inner-circle fw-bold">
                            4
                        </div>
                    </div>
                    <div class="avr-why-us__header__hr"></div>
                </div>
                <h6 class="fw-bold mt-2">Agile and Transparent Process</h6>
                <p class="text-start">Flexibility and transparency at every step, ensuring your project evolves with your needs.</p>
                <img src="/assets/images/avr/4.png" c/>
            </div>
        </div>
        <div><img src="/assets/images/avr/line2.png" class="avr-why-us__line2 d-none d-lg-block"/></div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-md-6 avr-why-us__left"  data-aos="flip-left">
            <div >
                <div class="avr-why-us__header">
                    <div class="outer-circle d-flex">
                        <div class="inner-circle fw-bold">
                            5
                        </div>
                    </div>
                    <div class="avr-why-us__header__hr"></div>
                </div>
                <h6 class="fw-bold mt-2">Exceptional Client Support and Maintenance</h6>
                <p class="text-start">Comprehensive post-launch support to ensure seamless operation and continuous improvement.</p>
                <img src="/assets/images/avr/5.png"/>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 avr-why-us__right"  data-aos="flip-right">
            <div >
                <div class="avr-why-us__header">
                    <div class="outer-circle d-flex">
                        <div class="inner-circle fw-bold">
                            6
                        </div>
                    </div>
                    <div class="avr-why-us__header__hr"></div>
                </div>
                <h6 class="fw-bold mt-2">Commitment to Quality and Security</h6>
                <p class="text-start">Dedicated to delivering robust, secure, and high-quality software solutions.</p>
            </div>
        </div>
        <div><img src="/assets/images/avr/line3.png" class="avr-why-us__line3 d-none d-lg-block"/></div>
        <div><img src="/assets/images/avr/line4.png" class="avr-why-us__line4 d-none d-lg-block"/></div>
    </div>
</section>