<section class="{{ "container-fluid" if fluid else "container" }} mt-5 case-study-vtabs">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3 w-25 bg-primary p-5 rounded" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active py-4" id="v-pills-case-1" data-bs-toggle="pill" data-bs-target="#case-1" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">1. Case Studies</button>
            <button class="nav-link py-4" id="v-pills-case-2" data-bs-toggle="pill" data-bs-target="#case-2" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">2. Case Studies</button>
            <button class="nav-link py-4" id="v-pills-case-3" data-bs-toggle="pill" data-bs-target="#case-3" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">3. Case Studies</button>
            <button class="nav-link py-4" id="v-pills-case-4" data-bs-toggle="pill" data-bs-target="#case-4" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">4. Case Studies</button>
            <button class="nav-link py-4" id="v-pills-case-5" data-bs-toggle="pill" data-bs-target="#case-5" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">5. Case Studies</button>
            <button class="nav-link py-4" id="v-pills-case-6" data-bs-toggle="pill" data-bs-target="#case-6" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">6. Case Studies</button>
            <button class="nav-link py-4" id="v-pills-case-7" data-bs-toggle="pill" data-bs-target="#case-7" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">7. Case Studies</button>
        </div>
        <div class="tab-content w-75" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="case-1" role="tabpanel">
                <div class="vstack">
                    <h5>Solution</h5>
                    <p>
                        A collaborative approach was adopted to develop an Intelligent Enterprise Platform, leveraging Azure cloud to address integration and decision-making challenges. The designed architecture brought data from disparate systems, employing automation, integration, and machine learning for sustainable data management. The platform aimed to forecast costs and lead times, providing a scalable and intelligent analytical solution around business objectives.
                    </p>
                    <h5>Result</h5>
                    <ol>
                        <li>Unified Portal for Data Insights: The Intelligent Analytical Platform served as a unified portal, offering daily and weekly granular insights from raw material to finished product. It facilitated efficient data-driven decisions across Finance, Production, Inventory, Material Waste, and Labor.</li>
                        <li>Efficiency Gains: Approximately 200+ executives across the organization now utilize the platform, saving an average of 60% of their day-to-day efforts in data gathering, reconciliation, and report preparation.</li>
                        <li>Better Decision-Making: The platform enabled executives to view, compare, simulate, and analyze data for various planning and forecast scenarios. This enhanced understanding of the impact on Product & Customer profitability, Inventory, Cost management, Logistics management, Facility performance, and Labor management.</li>
                        <li>Automated Reporting: Automated reports contributed to better Revenue Growth, Cost Reduction, and Improved Operational Efficiency. Specific Key Performance Indicators (KPIs) related to revenue growth, cost reduction, and operational efficiency improvements were yet to be determined.</li>
                    </ol>
                </div>
            </div>
            <div class="tab-pane fade" id="case-2" role="tabpanel">
                <div class="vstack">
                    <h5>Solution</h5>
                    <p>
                        A collaborative approach was adopted to develop an Intelligent Enterprise Platform, leveraging Azure cloud to address integration and decision-making challenges. The designed architecture brought data from disparate systems, employing automation, integration, and machine learning for sustainable data management. The platform aimed to forecast costs and lead times, providing a scalable and intelligent analytical solution around business objectives.
                    </p>
                    <h5>Result</h5>
                    <ol>
                        <li>Unified Portal for Data Insights: The Intelligent Analytical Platform served as a unified portal, offering daily and weekly granular insights from raw material to finished product. It facilitated efficient data-driven decisions across Finance, Production, Inventory, Material Waste, and Labor.</li>
                        <li>Efficiency Gains: Approximately 200+ executives across the organization now utilize the platform, saving an average of 60% of their day-to-day efforts in data gathering, reconciliation, and report preparation.</li>
                        <li>Better Decision-Making: The platform enabled executives to view, compare, simulate, and analyze data for various planning and forecast scenarios. This enhanced understanding of the impact on Product & Customer profitability, Inventory, Cost management, Logistics management, Facility performance, and Labor management.</li>
                        <li>Automated Reporting: Automated reports contributed to better Revenue Growth, Cost Reduction, and Improved Operational Efficiency. Specific Key Performance Indicators (KPIs) related to revenue growth, cost reduction, and operational efficiency improvements were yet to be determined.</li>
                    </ol>
                </div>
            </div>
            <div class="tab-pane fade" id="case-3" role="tabpanel">
                <div class="vstack">
                    <h5>Solution</h5>
                    <p>
                        A collaborative approach was adopted to develop an Intelligent Enterprise Platform, leveraging Azure cloud to address integration and decision-making challenges. The designed architecture brought data from disparate systems, employing automation, integration, and machine learning for sustainable data management. The platform aimed to forecast costs and lead times, providing a scalable and intelligent analytical solution around business objectives.
                    </p>
                    <h5>Result</h5>
                    <ol>
                        <li>Unified Portal for Data Insights: The Intelligent Analytical Platform served as a unified portal, offering daily and weekly granular insights from raw material to finished product. It facilitated efficient data-driven decisions across Finance, Production, Inventory, Material Waste, and Labor.</li>
                        <li>Efficiency Gains: Approximately 200+ executives across the organization now utilize the platform, saving an average of 60% of their day-to-day efforts in data gathering, reconciliation, and report preparation.</li>
                        <li>Better Decision-Making: The platform enabled executives to view, compare, simulate, and analyze data for various planning and forecast scenarios. This enhanced understanding of the impact on Product & Customer profitability, Inventory, Cost management, Logistics management, Facility performance, and Labor management.</li>
                        <li>Automated Reporting: Automated reports contributed to better Revenue Growth, Cost Reduction, and Improved Operational Efficiency. Specific Key Performance Indicators (KPIs) related to revenue growth, cost reduction, and operational efficiency improvements were yet to be determined.</li>
                    </ol>
                </div>
            </div>
            <div class="tab-pane fade" id="case-4" role="tabpanel">
                <div class="vstack">
                    <h5>Solution</h5>
                    <p>
                        A collaborative approach was adopted to develop an Intelligent Enterprise Platform, leveraging Azure cloud to address integration and decision-making challenges. The designed architecture brought data from disparate systems, employing automation, integration, and machine learning for sustainable data management. The platform aimed to forecast costs and lead times, providing a scalable and intelligent analytical solution around business objectives.
                    </p>
                    <h5>Result</h5>
                    <ol>
                        <li>Unified Portal for Data Insights: The Intelligent Analytical Platform served as a unified portal, offering daily and weekly granular insights from raw material to finished product. It facilitated efficient data-driven decisions across Finance, Production, Inventory, Material Waste, and Labor.</li>
                        <li>Efficiency Gains: Approximately 200+ executives across the organization now utilize the platform, saving an average of 60% of their day-to-day efforts in data gathering, reconciliation, and report preparation.</li>
                        <li>Better Decision-Making: The platform enabled executives to view, compare, simulate, and analyze data for various planning and forecast scenarios. This enhanced understanding of the impact on Product & Customer profitability, Inventory, Cost management, Logistics management, Facility performance, and Labor management.</li>
                        <li>Automated Reporting: Automated reports contributed to better Revenue Growth, Cost Reduction, and Improved Operational Efficiency. Specific Key Performance Indicators (KPIs) related to revenue growth, cost reduction, and operational efficiency improvements were yet to be determined.</li>
                    </ol>
                </div>
            </div>
            <div class="tab-pane fade" id="case-5" role="tabpanel">
                <div class="vstack">
                    <h5>Solution</h5>
                    <p>
                        A collaborative approach was adopted to develop an Intelligent Enterprise Platform, leveraging Azure cloud to address integration and decision-making challenges. The designed architecture brought data from disparate systems, employing automation, integration, and machine learning for sustainable data management. The platform aimed to forecast costs and lead times, providing a scalable and intelligent analytical solution around business objectives.
                    </p>
                    <h5>Result</h5>
                    <ol>
                        <li>Unified Portal for Data Insights: The Intelligent Analytical Platform served as a unified portal, offering daily and weekly granular insights from raw material to finished product. It facilitated efficient data-driven decisions across Finance, Production, Inventory, Material Waste, and Labor.</li>
                        <li>Efficiency Gains: Approximately 200+ executives across the organization now utilize the platform, saving an average of 60% of their day-to-day efforts in data gathering, reconciliation, and report preparation.</li>
                        <li>Better Decision-Making: The platform enabled executives to view, compare, simulate, and analyze data for various planning and forecast scenarios. This enhanced understanding of the impact on Product & Customer profitability, Inventory, Cost management, Logistics management, Facility performance, and Labor management.</li>
                        <li>Automated Reporting: Automated reports contributed to better Revenue Growth, Cost Reduction, and Improved Operational Efficiency. Specific Key Performance Indicators (KPIs) related to revenue growth, cost reduction, and operational efficiency improvements were yet to be determined.</li>
                    </ol>
                </div>
            </div>
            <div class="tab-pane fade" id="case-6" role="tabpanel">
                <div class="vstack">
                    <h5>Solution</h5>
                    <p>
                        A collaborative approach was adopted to develop an Intelligent Enterprise Platform, leveraging Azure cloud to address integration and decision-making challenges. The designed architecture brought data from disparate systems, employing automation, integration, and machine learning for sustainable data management. The platform aimed to forecast costs and lead times, providing a scalable and intelligent analytical solution around business objectives.
                    </p>
                    <h5>Result</h5>
                    <ol>
                        <li>Unified Portal for Data Insights: The Intelligent Analytical Platform served as a unified portal, offering daily and weekly granular insights from raw material to finished product. It facilitated efficient data-driven decisions across Finance, Production, Inventory, Material Waste, and Labor.</li>
                        <li>Efficiency Gains: Approximately 200+ executives across the organization now utilize the platform, saving an average of 60% of their day-to-day efforts in data gathering, reconciliation, and report preparation.</li>
                        <li>Better Decision-Making: The platform enabled executives to view, compare, simulate, and analyze data for various planning and forecast scenarios. This enhanced understanding of the impact on Product & Customer profitability, Inventory, Cost management, Logistics management, Facility performance, and Labor management.</li>
                        <li>Automated Reporting: Automated reports contributed to better Revenue Growth, Cost Reduction, and Improved Operational Efficiency. Specific Key Performance Indicators (KPIs) related to revenue growth, cost reduction, and operational efficiency improvements were yet to be determined.</li>
                    </ol>
                </div>
            </div>
            <div class="tab-pane fade" id="case-7" role="tabpanel">
                <div class="vstack">
                    <h5>Solution</h5>
                    <p>
                        A collaborative approach was adopted to develop an Intelligent Enterprise Platform, leveraging Azure cloud to address integration and decision-making challenges. The designed architecture brought data from disparate systems, employing automation, integration, and machine learning for sustainable data management. The platform aimed to forecast costs and lead times, providing a scalable and intelligent analytical solution around business objectives.
                    </p>
                    <h5>Result</h5>
                    <ol>
                        <li>Unified Portal for Data Insights: The Intelligent Analytical Platform served as a unified portal, offering daily and weekly granular insights from raw material to finished product. It facilitated efficient data-driven decisions across Finance, Production, Inventory, Material Waste, and Labor.</li>
                        <li>Efficiency Gains: Approximately 200+ executives across the organization now utilize the platform, saving an average of 60% of their day-to-day efforts in data gathering, reconciliation, and report preparation.</li>
                        <li>Better Decision-Making: The platform enabled executives to view, compare, simulate, and analyze data for various planning and forecast scenarios. This enhanced understanding of the impact on Product & Customer profitability, Inventory, Cost management, Logistics management, Facility performance, and Labor management.</li>
                        <li>Automated Reporting: Automated reports contributed to better Revenue Growth, Cost Reduction, and Improved Operational Efficiency. Specific Key Performance Indicators (KPIs) related to revenue growth, cost reduction, and operational efficiency improvements were yet to be determined.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>