<section class="{{ "container-fluid" if fluid else "container" }}  circle-list my-5">
    <div class="row text-center" data-aos="fade-in">
        <div class="col-12">
            <h2 class="text-primary fw-bold">About Us</h2>
            <h5 >We Help Our Clients Gain Competitive Advantage</h5>
        </div>
    </div>
    <div class="row mt-5 align-items-center">
        <div class="col-xl-3 img-container" data-aos="fade-right">
            <div class="circle-white mx-auto">
                <img src="/assets/images/circle_ai.png" class="circle-img"/>
            </div>
        </div>
        <div class="col-xl-8 rounded-circle">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-primary-light-50 text-light rounded rounded-4" data-aos="fade-in" data-aos-delay="500">
                    <p class="pb0 mb-0">
                        <span class="fw-bold">Expertise:</span>
                        142+ years of Cumulative executive Experience
                    </p>
                </li>
                <li class="list-group-item bg-primary-light-50 mt-1  text-light rounded rounded-4" data-aos="fade-in" data-aos-delay="750">
                    <p class="pb0 mb-0">
                        <span class="fw-bold">Core Offering:</span>
                        Building Intelligent-Driven Enterprise
                    </p>
                </li>
                <li class="list-group-item bg-primary-light-50 mt-1  text-light rounded rounded-4" data-aos="fade-in" data-aos-delay="1000">
                    <p class="pb0 mb-0">
                        <span class="fw-bold">Resources:</span>
                        50 + multi-disciplinary right shore resources
                    </p>
                </li>
                <li class="list-group-item bg-primary-light-50 mt-1  text-light rounded rounded-4" data-aos="fade-in" data-aos-delay="1250">
                    <p class="pb0 mb-0">
                        <span class="fw-bold">Approach:</span>
                        Data driven, outcome focused, time-to-value
                    </p>
                </li>
                <li class="list-group-item bg-primary-light-50 mt-1  text-light rounded rounded-4" data-aos="fade-in" data-aos-delay="1500">
                    <p class="pb0 mb-0">
                        <span class="fw-bold">Values:</span>
                        Innovation, mastery, passion, accountability, collaboration, transparency
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>