<section class="{{ "container-fluid" if fluid else "container" }} dea mt-5">
    <div class="row">
        <div class="col-12 text-lg-center" data-aos="fade-in">
            <h2 class="fw-bold">Blueprint of Our Data Engineering Architecture: From Acquisition to Insights</h2>
        </div>
        <div class="col-12 text-center">
            <div class="dea__content">
                <img class="d-none d-lg-block" src="/assets/images/data_engineering_architecture/img_1.png">
                <div class="dea__block dea__block__b1 text-start" data-aos="fade-down-right">
                    <h4>Data Consumption</h4>
                    <p>Accessing and analyzing the data through business intelligence tools, analytics platforms, and reporting tools for decision-making.</p>
                </div>
                <div class="dea__block dea__block__b2 text-start" data-aos="fade-right">
                    <h4>Data Aggregation</h4>
                    <p>Summarizing detailed data for a broader view, making it suitable for analysis and reporting.</p>
                </div>
                <div class="dea__block dea__block__b3 text-start" data-aos="fade-right">
                    <h4>Data Loading</h4>
                    <p>Loading transformed data into a data warehouse or data mart for easy access and analysis.</p>
                </div>
                <div class="dea__block dea__block__b4 text-start" data-aos="fade-up-right">
                    <h4>Data Transformation</h4>
                    <p>Converting data into a format suitable for analysis, often involving normalization and aggregation.</p>
                </div>
                <div class="dea__block dea__block__b5 text-start" data-aos="fade-down-left">
                    <h4>Data Aquasition</h4>
                    <p>Collecting data from various sources, including internal databases, external APIs, and IoT devices.</p>
                </div>
                <div class="dea__block dea__block__b6 text-start" data-aos="fade-left">
                    <h4>Data Ingestion</h4>
                    <p>Importing the acquired data into the system, typically into a data lake for raw data storage.</p>
                </div>
                <div class="dea__block dea__block__b7 text-start" data-aos="fade-left">
                    <h4>Data Storage</h4>
                    <p>Storing data in a scalable and secure manner, utilizing data lakes for raw data and data warehouses for structured data.</p>
                </div>
                <div class="dea__block dea__block__b8 text-start" data-aos="fade-up-left">
                    <h4>Data Processing</h4>
                    <p>Processing raw data using ETL (Extract, Transform, Load) operations to clean, transform, and enrich the data.</p>
                </div>
            </div>
        </div>
    </div>
</section>