<section class="{{ "container-fluid" if fluid else "container" }} mt-5 eng-needs">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="fw-bold">Why Choose Kaleitic for Your Data Engineering Needs</h3>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-md-6 eng-needs__left">
            <div class=" text-center">
                <img src="/assets/images/engineering_needs/1.png"/>
                <h6 class="fw-bold">Industry Expertise</h6>
                <p class="text-start">Our team brings a wealth of experience and a proven track record of <br/>success in data engineering.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 eng-needs__right">
            <div class=" text-center">
                <img src="/assets/images/engineering_needs/2.png"/>
                <h6 class="fw-bold">Cutting-Edge Technology</h6>
                <p class="text-start">We utilize the latest tools and technologies to deliver efficient and innovative solutions.</p>
            </div>
        </div>
        <div><img src="/assets/images/engineering_needs/line1.png" class="eng-needs__line1"/></div>
    </div>
    <div class="row">
        <div><img src="/assets/images/engineering_needs/line2.png" class="eng-needs__line2"/></div>
        <div class="col-lg-6 col-md-6 eng-needs__left">
            <div class=" text-center">
                <img src="/assets/images/engineering_needs/3.png"/>
                <h6 class="fw-bold">Customized Solutions</h6>
                <p class="text-start"> Our services are tailored to meet the unique needs and challenges of your business.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 eng-needs__right">
            <div class=" text-center">
                <img src="/assets/images/engineering_needs/4.png"/>
                <h6 class="fw-bold">Commitment to Excellence</h6>
                <p class="text-start">We're dedicated to delivering the highest quality of service and ensuring customer satisfaction.</p>
            </div>
        </div>
        <div><img src="/assets/images/engineering_needs/line3.png" class="eng-needs__line3"/></div>
    </div>
</div>
</section>