<section class="{{ "container-fluid" if fluid else "container" }} mt-5 data-integration-automation">
    <div class="row">
        <div class="col-lg-3" data-aos="fade-down">
            <h6>Data Integration & Automation</h6>
            <ul class="list-group">
                <li class="list-group-item text-center bg-primary-light-25 fw-bold py-3">SAP HANA</li>
                <li class="list-group-item text-center bg-primary-light-25 fw-bold py-3">NET SUITE</li>
                <li class="list-group-item text-center bg-primary-light-25 fw-bold py-3">SCM</li>
                <li class="list-group-item text-center bg-primary-light-25 fw-bold py-3">ADP</li>
                <li class="list-group-item text-center bg-primary-light-25 fw-bold py-3">CEREDIAN</li>
            </ul>
        </div>
        <div class="col-lg-1 d-flex align-items-center" data-aos="fade-in">
            <div class="pt-3">
                <h6 class="d-block">Functional Expertise</h6>
                <img class="right-arrow" src="/assets/images/el_arrow-up.svg">
                <img class="right-arrow"  src="/assets/images/el_arrow-up.svg">
                <h6 class="d-block">Technical Expertise</h6>
            </div>
        </div>
        <div class="col-lg-3 d-flex align-items-end" data-aos="fade-up">
            <div class="w-100 text-center">
                <h6>Analytics Services</h6>
                <ul class="list-group">
                    <li class="list-group-item text-center bg-primary-light-25 fw-bold py-3">SAP HANA</li>
                    <li class="list-group-item text-center bg-primary-light-25 fw-bold py-3">NET SUITE</li>
                    <li class="list-group-item text-center bg-primary-light-25 fw-bold py-3">SCM</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-1 d-flex align-items-center" data-aos="fade-in">
            <div class="pt-3">
                <h6 class="d-block">Role Based</h6>
                <img class="right-arrow" src="/assets/images/el_arrow-up.svg">
            </div>
        </div>
        <div class="col-lg-3 d-flex align-items-end" data-aos="fade-down">
            <div class="w-100 h-75 d-flex align-items-center justify-content-center bg-primary-light-25 border border-dark">
                Analytics Insights
            </div>
        </div>
    </div>
</section>