<section class="{{ "container-fluid" if fluid else "container" }} mt-5 hexa-container">

    <div class="row">
        <div class="col-12 text-center">
            <h2 class="fw-bold text-primary-dark">Insights to Drive your Fleet forward</h2>
            <p>Unlock the full potential of your fleet with our comprehensive insights that lead to smarter decisions and increased efficiency.</p>
        </div>
        <div class="col-12 text-center">
            <div class="hexagon-grid text-center justify-content-center " data-aos="fade-in-zoom">
                <div class="hexagon-card" >
                    <div class="hexagon justify-content-center align-self-center d-flex" >
                        <div class="hexa-content text-center">
                            <img src="/assets/images/hexa_content/compilance.svg"/>
                            <h6>Compilance</h6>
                        </div>
                    </div>
                </div>
                <div class="hexagon-card">
                    <div class="hexagon justify-content-center align-self-center d-flex">
                        <div class="hexa-content text-center">
                            <img src="/assets/images/hexa_content/insights_ai.svg"/>
                            <h4 class="text-warning">Insights/AI</h4>
                        </div>
                    </div>
                </div>
                <div class="hexagon-card">
                    <div class="hexagon justify-content-center align-self-center d-flex">
                        <div class="hexa-content text-center">
                            <img src="/assets/images/hexa_content/cost_analysis.svg"/>
                            <h6>Cost Analysis</h6>
                        </div>
                    </div>
                </div>
                <div class="hexagon-card">
                    <div class="hexagon justify-content-center align-self-center d-flex">
                        <div class="hexa-content text-center">
                            <img src="/assets/images/hexa_content/route_efficiency.svg"/>
                            <h6>Route Efficiency</h6>
                        </div>
                    </div>
                </div>
                <div class="hexagon-card">
                    <div class="hexagon justify-content-center align-self-center d-flex">
                        <div class="hexa-content text-center">
                            <img src="/assets/images/hexa_content/vehicle_utilization.svg"/>
                            <h6>Vehicls Utilization</h6>
                        </div>
                    </div>
                </div>

                <div class="hexagon-card">
                    <div class="hexagon justify-content-center align-self-center d-flex">
                        <div class="hexa-content text-center">
                            <img src="/assets/images/hexa_content/alert_notification.svg"/>
                            <h6>Alert & Notifications</h6>
                        </div>
                    </div>
                </div>
                <div class="hexagon-card">
                    <div class="hexagon justify-content-center align-self-center d-flex">
                        <div class="hexa-content text-center">
                            <img src="/assets/images/hexa_content/fuel_utilization.svg"/>
                            <h6>Fuel Utilization</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>