<section class="{{ "container-fluid" if fluid else "container" }} mt-5 p-3 key-benefits">
    <div class="row d-none d-lg-block">
        <div class="col-12 text-center mb-5">
            <h2 class="fw-bold" data-aos="fade">Key Benefits</h2>
        </div>
        <div class="col-12 key-benefits__img-top" data-aos="fade-down">
            <img  src="/assets/images/key_benefits/key_benefits_1.png">
        </div>
        <div class="col-12 key-benefits__img-bottom text-center" data-aos="fade-up">
            <img src="/assets/images/key_benefits/key_benefits_2.png">
        </div>
    </div>
    <div class="row d-block d-lg-none" data-aos="fade-up">
        <div class="col-12 text-center mb-5">
            <h2 class="fw-bold">Key Benefits</h2>
        </div>
        <div class="col-12 mt-2 p-2 yellow">
            <h3 class="text-white">1. Unlock Superior Decision-Making</h3>
        </div>
        <div class="col-12 mt-2 p-2 purple">
            <h3 class="text-white">2. Spot Trends and Seize Opportunities</h3>
        </div>
        <div class="col-12 mt-2 p-2 orange">
            <h3 class="text-white">3. Fuel Innovation and Growth</h3>
        </div>
        <div class="col-12 mt-2 p-2 pink">
            <h3 class="text-white">4. Data-Driven Strategic Decisions</h3>
        </div>
        <div class="col-12 mt-2 p-2 violet">
            <h3 class="text-white">5. Forecast with Unmatched Accuracy</h3>
        </div>
        <div class="col-12 mt-2 p-2 red">
            <h3 class="text-white">6. Personalize the Customer Experience</h3>
        </div>
        <div class="col-12 mt-2 p-2 light-purple">
            <h3 class="text-white">7. Update Products and Services</h3>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 text-center" data-aos="fade">
            <button class="btn btn-primary hvr-radial-out px-5 py-3 b-50 fs-3">Know more...</button>
        </div>
    </div>
</section>