<div class="mt-5 analytics-heirarchy">
    <div class="pyramid" data-aos="fade-in" >
        <div class="step step-5" data-aos="fade-left" data-aos-delay="000">
            <div class="block">
                <div class="text-center">
                    <img src="/assets/images/analytics_pyramid/1.png" alt="">
                    <p class="fw-bold">Optimize & Predict</p>

                </div>
            </div>
        </div>
        <div class="step step-4" data-aos="fade-right" data-aos-delay="400">
            <div class="block">
                <div class="text-center">
                    <i class="fa fa-arrow-up-long"></i><br/>
                    <p>Analyze</p>
                    <img src="/assets/images/analytics_pyramid/2.png" alt="">
                </div>
            </div>
        </div>
        <div class="step step-3" data-aos="fade-left" data-aos-delay="800">
            <div class="block">
                <div class="text-center">
                    <i class="fa fa-arrow-up-long"></i>
                    <p>Define &amp; Track</p>
                    <img src="/assets/images/analytics_pyramid/3.png" alt="">
                </div>
            </div>
        </div>
        <div class="step step-2" data-aos="fade-right" data-aos-delay="1200">
            <div class="block">
                <div class="text-center">
                    <i class="fa fa-arrow-up-long"></i>
                    <p>Clean</p>
                    <img src="/assets/images/analytics_pyramid/4.png" alt="">
                </div>
            </div>
        </div>
        <div class="step step-1" data-aos="fade-left" data-aos-delay="1600">
            <div class="block">
                <div class="text-center">
                    <i class="fa fa-arrow-up-long"></i>
                    <p>Collect</p>
                    <img src="/assets/images/analytics_pyramid/5.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>