<section class="container mt-5 services-provided">
    <div class="row mb-2">
        <div class="col-12>"></div>
    </div>

    <div class="row circle-container-1">
        <div class="col-lg-4 text-end circle-1">
            <div class="circle-content ms-auto bg-primary-light-50 p-5 text-center text-white" data-aos="fade-right" data-aos-delay="1000">
                <img src="/assets/images/services_provided/1.svg"/>
                <div class="mt-2">
                    <h6>Core Development Competencies</h6>
                    <ol class="text-start">
                        <li>Technical Skills: Expertise in programming languages, frameworks, and technologies.</li>
                        <li>Expertise and Experience: A proven track record in software development across various industries.</li>
                        <li>Quality and Standards: A commitment to high-quality development practices and standards.</li>
                    </ol>
                </div>
            </div>
            <div class="circle-content ms-auto bg-primary-light-50 p-5 text-center text-white" data-aos="fade-right" data-aos-delay="2000">
                <img src="/assets/images/services_provided/2.svg"/>
                <div class="mt-2">
                    <h6>Security and Innovation </h6>
                    <ol class="text-start">
                        <li>Communication and Collaboration: Effective tools and practices for seamless teamwork.</li>
                        <li>Cultural Fit: Alignment of corporate cultures for smoother collaboration.</li>
                        <li>Reputation and References: Established market reputation backed by client testimonials.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="fade-in">
            <div class="services-provided__center text-center bg-primary-light-50 mx-auto d-flex align-items-center justify-content-center text-white">
                <h6>Solutions Engineered <br/>
                    <span class="text-brand-yellow">by Kaleitics</span></h6>
            </div>
        </div>
        <div class="col-lg-4 text-start circle-2" >
            <div class="circle-content ms-auto bg-primary-light-50 p-5 text-center text-white" data-aos="fade-left" data-aos-delay="1500">
                <img src="/assets/images/services_provided/3.svg"/>
                <div class="mt-2">
                    <h6>Operational Excellence</h6>
                    <ol class="text-start">
                        <li>Project Management: Comprehensive project planning and risk management.</li>
                        <li>Flexibility and Scalability: Ability to adjust and scale services as project needs evolve.</li>
                        <li>Support and Maintenance: Long-term support and maintenance for sustained software performance.</li>
                    </ol>
                </div>
            </div>
            <div class="circle-content bg-primary-light-50 p-5 text-center text-white" data-aos="fade-left" data-aos-delay="2500">
                <img src="/assets/images/services_provided/4.svg"/>
                <div class="mt-2">
                    <h6>Strategic Partnerships</h6>
                    <ol class="text-start">
                        <li>Security and Compliance: Adherence to strict security protocols and compliance standards.</li>
                        <li>Innovation and R&    D: Investment in research and development for cutting-edge solutions.</li>
                        <li>Cost-effectiveness: Transparent and competitive pricing for value-driven service delivery.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row circle-container-2 mt-2">
        <div class="col-lg-6 text-end circle-3"></div>
        <div class="col-lg-6 text-start circle-4"></div>
    </div>

</section>