<section class="container-fluid mt-5 dev-process">
    <h3 class="text-center mb-10">
        <span class="text-orange">Kaleitic's</span> Software Product Development Process</h3>
    <div class="row d-none d-lg-block dev-process__container">
        <div class="col-lg-12 dev-process__right align-items-center d-flex justify-content-end" data-aos="fade-left">

            <div class="dev-process__rhombus d-flex align-items-center justify-content-center">
                <img src="/assets/images/development_process/1.svg"/>
            </div>
            <div class="dev-process__rhombus__right__content d-flex align-items-center">
                <img src="/assets/images/icon-park-outline_arrow-left.png"/>
                <div class="round-badge text-white bg-primary">1</div>
                <div class="ms-1">
                    <h5 class="fw-bold">Idea and Scope Definition</h5>
                    <p>Conceptualizing the software solution and defining its scope.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 dev-process__left d-flex  align-items-center" data-aos="fade-right">

            <div class="dev-process__rhombus__left__content d-flex align-items-center justify-content-end">
                <div class="me-1">
                    <h5 class="fw-bold">Requirements Gathering</h5>
                    <p>Collecting detailed functional and technical <br/> requirements from stakeholders.</p>
                </div>
                <div class="round-badge text-white bg-primary">2</div>
                <img src="/assets/images/icon-park-outline_arrow-right.png"/>
            </div>
            <div class="dev-process__rhombus d-flex align-items-center justify-content-center">
                <img src="/assets/images/development_process/2.svg"/>
            </div>
        </div>
        <div class="col-lg-12 dev-process__right align-items-center d-flex justify-content-end" data-aos="fade-left">

            <div class="dev-process__rhombus d-flex align-items-center justify-content-center">
                <img src="/assets/images/development_process/3.svg"/>
            </div>
            <div class="dev-process__rhombus__right__content d-flex align-items-center">
                <img src="/assets/images/icon-park-outline_arrow-left.png"/>
                <div class="round-badge text-white bg-primary">3</div>
                <div class="ms-1">
                    <h5 class="fw-bold">Design and Prototyping</h5>
                    <p>Designing the software architecture and user <br/>interface, followed by <br/>prototyping.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 dev-process__left d-flex align-items-center" data-aos="fade-right">

            <div class="dev-process__rhombus__left__content d-flex align-items-center justify-content-end">
                <div class="me-1">
                    <h5 class="fw-bold">Software Development</h5>
                    <p>Coding the software based on design<br/> documents using agile <br/>methodologies..</p>
                </div>
                <div class="round-badge text-white bg-primary">4</div>
                <img src="/assets/images/icon-park-outline_arrow-right.png"/>
            </div>
            <div class="dev-process__rhombus d-flex align-items-center justify-content-center">
                <img src="/assets/images/development_process/4.svg"/>
            </div>
        </div>
        <div class="col-lg-12 dev-process__right align-items-center d-flex justify-content-end" data-aos="fade-left">

            <div class="dev-process__rhombus d-flex align-items-center justify-content-center">
                <img src="/assets/images/development_process/5.svg"/>
            </div>
            <div class="dev-process__rhombus__right__content d-flex align-items-center">
                <img src="/assets/images/icon-park-outline_arrow-left.png"/>
                <div class="round-badge text-white bg-primary">5</div>
                <div class="ms-1">
                    <h5 class="fw-bold">Testing and Quality Assurance</h5>
                    <p>Conducting various tests (unit, integration, <br/>system, user acceptance) to ensure<br/> quality and functionality.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 dev-process__left d-flex align-items-center" data-aos="fade-right">

            <div class="dev-process__rhombus__left__content d-flex align-items-center justify-content-end">
                <div class="me-1">
                    <h5 class="fw-bold">Deployment</h5>
                    <p> Releasing the software to a <br/>production environment  or market.</p>
                </div>
                <div class="round-badge text-white bg-primary">6</div>
                <img src="/assets/images/icon-park-outline_arrow-right.png"/>
            </div>
            <div class="dev-process__rhombus d-flex align-items-center justify-content-center">
                <img src="/assets/images/development_process/6.svg"/>
            </div>
        </div>
        <div class="col-lg-12 dev-process__right align-items-center d-flex justify-content-end" data-aos="fade-left">

            <div class="dev-process__rhombus d-flex align-items-center justify-content-center">
                <img src="/assets/images/development_process/7.svg"/>
            </div>
            <div class="dev-process__rhombus__right__content d-flex align-items-center">
                <img src="/assets/images/icon-park-outline_arrow-left.png"/>
                <div class="round-badge text-white bg-primary">7</div>
                <div class="ms-1">
                    <h5 class="fw-bold">Maintenance and Updates</h5>
                    <p>Providing ongoing support, fixing bugs, and <br/>releasing  updates to improve <br/>functionality or security..</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 dev-process__left d-flex align-items-center" data-aos="fade-right">

            <div class="dev-process__rhombus__left__content d-flex align-items-center justify-content-end">
                <div class="me-1">
                    <h5 class="fw-bold">Evaluation and Feedback</h5>
                    <p> Assessing the software's performance <br/> and gathering user <br/>feedback for future iterations.</p>
                </div>
                <div class="round-badge text-white bg-primary">8</div>
                <img src="/assets/images/icon-park-outline_arrow-right.png"/>
            </div>
            <div class="dev-process__rhombus d-flex align-items-center justify-content-center">
                <img src="/assets/images/development_process/8.svg"/>
            </div>
        </div>
    </div>
    <div class="row d-block d-lg-none">
        <div class="col-lg-12 justify-content-center" data-aos="fade-left">
            <div class="row">
                <div class="col-4">
                    <img src="/assets/images/development_process/1.svg"/>
                </div>
                <div class="col-8">
                    <h5 class="fw-bold">Idea and Scope Definition</h5>
                    <p>Conceptualizing the software solution and defining its scope.</p>
                </div>
            </div>

        </div>
        <div class="col-lg-12 justify-content-center" data-aos="fade-right">
            <div class="row">
                <div class="col-4">
                    <img src="/assets/images/development_process/2.svg"/>
                </div>
                <div class="col-8">
                    <h5 class="fw-bold">Requirements Gathering</h5>
                    <p>Collecting detailed functional and technical <br/> requirements from stakeholders.</p>
                </div>
            </div>

        </div>
        <div class="col-lg-12 justify-content-center" data-aos="fade-left">
            <div class="row">
                <div class="col-4">
                    <img src="/assets/images/development_process/3.svg"/>
                </div>
                <div class="col-8">
                    <h5 class="fw-bold">Design and Prototyping</h5>
                    <p>Designing the software architecture and user <br/>interface, followed by <br/>prototyping.</p>
                </div>
            </div>

        </div>
        <div class="col-lg-12 justify-content-center" data-aos="fade-right">
            <div class="row">
                <div class="col-4">
                    <img src="/assets/images/development_process/4.svg"/>
                </div>
                <div class="col-8">
                    <h5 class="fw-bold">Software Development</h5>
                    <p>Coding the software based on design<br/> documents using agile <br/>methodologies..</p>
                </div>
            </div>

        </div>
        <div class="col-lg-12 justify-content-center" data-aos="fade-left">
            <div class="row">
                <div class="col-4">
                    <img src="/assets/images/development_process/5.svg"/>
                </div>
                <div class="col-8">
                    <h5 class="fw-bold">Testing and Quality Assurance</h5>
                    <p>Conducting various tests (unit, integration, <br/>system, user acceptance) to ensure<br/> quality and functionality.</p>
                </div>
            </div>

        </div>
        <div class="col-lg-12 justify-content-center" data-aos="fade-right">
            <div class="row">
                <div class="col-4">
                    <img src="/assets/images/development_process/6.svg"/>
                </div>
                <div class="col-8">
                    <h5 class="fw-bold">Deployment</h5>
                    <p> Releasing the software to a <br/>production environment  or market.</p>
                </div>
            </div>

        </div>
        <div class="col-lg-12 justify-content-center" data-aos="fade-left">
            <div class="row">
                <div class="col-4">
                    <img src="/assets/images/development_process/7.svg"/>
                </div>
                <div class="col-8">
                    <h5 class="fw-bold">Maintenance and Updates</h5>
                    <p>Providing ongoing support, fixing bugs, and <br/>releasing  updates to improve <br/>functionality or security..</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 justify-content-center" data-aos="fade-right">
            <div class="row">
                <div class="col-4">
                    <img src="/assets/images/development_process/8.svg"/>
                </div>
                <div class="col-8">
                    <h5 class="fw-bold">Evaluation and Feedback</h5>
                    <p> Assessing the software's performance <br/> and gathering user <br/>feedback for future iterations.</p>
                </div>
            </div>
        </div>
    </div>
</section>