<div class="mx-auto row step-line">
    <div class="col-md-6 br-1 text-start">
        <div  data-aos="flip-right">
            <h5 class="text-blue">Step 5</h5>
            <h4 class="text-blue">Transform</h4>
            <p>to a data-driven culture</p>
            <hr class="step-line__handle text-blue">
        </div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6 br-1"></div>
    <div class="col-md-6 text-end">
        <div  data-aos="flip-left">
            <h5 class="text-yellow">Step 4</h5>
            <h4 class="text-yellow">Scale</h4>
            <p>by expanding to
additional use cases</p>
            <hr class="step-line__handle text-yellow">
        </div>
    </div>
    <div class="col-md-6 br-1"></div>
    <div class="col-md-6"></div>
    <div class="col-md-6 br-1  text-start">
        <div  data-aos="flip-right">
            <h5 class="text-violet">Step 3</h5>
            <h4 class="text-violet">Prove</h4>
            <p>value to business 
leaders through pilot
programs</p>
            <hr class="step-line__handle text-violet">
        </div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6 br-1"></div>
    <div class="col-md-6 text-end">
        <div  data-aos="flip-right">
            <h5 class="text-purple">Step 2</h5>
            <h4 class="text-purple">Establish</h4>
            <p>the right architecture & Funding model</p>
            <hr class="step-line__handle text-purple">
        </div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6 br-1"></div>
    <div class="col-md-6 br-1  text-start">
        <div  data-aos="flip-right">
            <h5 class="text-green">Step 1</h5>
            <h4 class="text-green">Indetify</h4>
            <p>the high value
oppurtunities</p>
            <hr class="step-line__handle text-green">
        </div>
    </div>
</div>