<section class="{{ "container-fluid" if fluid else "container" }} mt-5 what-we-do">
    <div class="row">
        <div class="col" data-aos="fade-up">
            <div class="pentagon-shape green text-white text-center">
                <div>
                    <h5 class="fw-bold">Step 1 <br/>Identity</h5>
                    <p>The high value <br/> oppurtunities</p>
                </div>
            </div>
        </div>
        <div class="col" data-aos="fade-down">
            <div class="pentagon-shape purple text-white text-center">
                <div>
                    <h5 class="fw-bold">Step 2 <br/>Establish</h5>
                    <p>the right architecture <br/> & Funding model</p>
                </div>
            </div>
        </div>
        <div class="col" data-aos="fade-up">
            <div class="pentagon-shape light-blue text-white text-center">
                <div>
                    <h5 class="fw-bold">Step 3 <br/>Prove</h5>
                    <p>value to business leaders through pilot programs</p>
                </div>
            </div>
        </div>
        <div class="col" data-aos="fade-down">
            <div class="pentagon-shape yellow text-white text-center">
                <div>
                    <h5 class="fw-bold">Step 4 <br/>Scale</h5>
                    <p>by expanding to <br/>additional use cases</p>
                </div>
            </div>
        </div>
        <div class="col" data-aos="fade-up">
            <div class="pentagon-shape blue text-white text-center">
                <div>
                    <h5 class="fw-bold">Step 5 <br/>Transform</h5>
                    <p>to a data-driven culture</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center" data-aos="zoom-in">
            <h4  class="fw-bold">Collaborative enterprise team.</h4>
        </div>
        <div class="col-12 text-center mt-3" data-aos="zoom-in">
            <img src="/assets/images/what_we_do/blocks.png" class="img-fluid">
        </div>
    </div>
</section>