<section class="{{ "container-fluid" if fluid else "container" }} mt-5 why-choose-kaleitics">
    <div class="row" data-aos="fade-in">
        <div class="col-12 text-center">
            <h4 class="fw-bold">Why Choose Kaleitic for Your Data Engineering Needs?</h4>
        </div>
    </div>
    <div class="row mt-5 flex-row-reverse" data-aos="fade-left">
        <div class="col-6">
            <div class=" text-center">
                <img src="/assets/images/why_choose/Layer_1.svg"/>
                <h6 class="fw-bold">Industry Expertise</h6>
                <p class="text-start">Our team brings a wealth of experience and a proven track record of success in data engineering.</p>
            </div>
        </div>
    </div>

    <div class="row mt-5" data-aos="fade-right" data-aos-delay="750">
        <div class="col-12">
            <div class="w-50 text-center">
                <img src="/assets/images/why_choose/Layer_2.svg"/>
                <h6 class="fw-bold">Customized Solutions</h6>
                <p class="text-start"> Our services are tailored to meet the unique needs and challenges of your business.</p>
            </div>
        </div>
    </div>
    <div class="row flex-row-reverse" data-aos="fade-left" data-aos-delay="1500">
        <div class="col-6">
            <div class=" text-center">
                <img src="/assets/images/why_choose/Layer_3.svg"/>
                <h6 class="fw-bold">Cutting-Edge Technology</h6>
                <p class="text-start">We utilize the latest tools and technologies to deliver efficient and innovative solutions.</p>
            </div>
        </div>
    </div>
    <div class="row" data-aos="fade-right"  data-aos-delay="2250">
        <div class="col-12">
            <div class="w-50 text-center">
                <img src="/assets/images/why_choose/Layer_4.svg"/>
                <h6 class="fw-bold">Commitment to Excellence</h6>
                <p class="text-start">We're dedicated to delivering the highest quality of service and ensuring customer satisfaction.</p>
            </div>
        </div>
    </div>
</section>