---
meta:
  lang: en
  title: 11ty-plain-bootstrap5
  image: "/assets/images/open-graph/teaser.jpeg"
  description: Template for static site generator Eleventy with Boostrap 5 and SCSS/JS compilation via laravel-mix.
layout: base
eleventyNavigation:
  key: Home
---

{% include "./components/home_hero.njk" %}

<section class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="bg-circle-lines h-100 align-items-center w-100 d-flex justify-content-end">
        <div class="w-75 text-start" data-aos="fade-right">

          <h6 class="text-brand">Collaborate  with Us</h6>
          <h3 class="fw-bold">Evolve into an Intelligent Enterprise
with Confidence</h3>
          <p>Partner with our SMEs in your digital transformation journey. As your trusted partner we will prioritize and assemble the right technologies that can assist you with building intelligence and automation capabilities. We will help you deliver innovation, growth, and profit at your desired velocity-to-value.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img class="w-100" data-aos="fade-left" src="/assets/images/home_sec1.png">
    </div>
  </div>
</section>

<section class="container mt-5 p-5">
  <h3 class="fw-bold text-center my-5">Thought Leadership</h3>
  <div class="row">
    <div class="col-md-4 p-2  position-relative">
      <img class="home__sec2__img w-100" src="/assets/images/image60.png"/>
      <div class="home__sec2__content w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="p-5">
          <h6 class="text-center">Job Title</h6>
          <h3 class="fw-bold">Name of the employee</h3>
          <p>When an unownn printer took a gallery of type and scrambled intelligenceto make a type secimen book,. it has survived not only five centuries, but also the leap into electronic type setting reamining essentillay un changed</p>

        </div>
      </div>
    </div>
    <div class="col-md-4 p-2 position-relative">
      <img class="home__sec2__img w-100" src="/assets/images/team-member.png"/>
      <div class="home__sec2__content w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="p-5">
          <h6 class="text-center">Job Title</h6>
          <h3 class="fw-bold">Name of the employee</h3>
          <p>When an unownn printer took a gallery of type and scrambled intelligenceto make a type secimen book,. it has survived not only five centuries, but also the leap into electronic type setting reamining essentillay un changed</p>

        </div>
      </div>
    </div>
    <div class="col-md-4 p-2 position-relative">
      <img class="home__sec2__img w-100 " src="/assets/images/team-member-1.png"/>
      <div class="home__sec2__content w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="p-5">
          <h6 class="text-center">Job Title</h6>
          <h3 class="fw-bold">Name of the employee</h3>
          <p>When an unownn printer took a gallery of type and scrambled intelligenceto make a type secimen book,. it has survived not only five centuries, but also the leap into electronic type setting reamining essentillay un changed</p>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 p-2 position-relative">
      <img class="home__sec2__img w-100" src="/assets/images/team-member-2.png"/>
      <div class="home__sec2__content w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="p-5">
          <h6 class="text-center">Job Title</h6>
          <h3 class="fw-bold">Name of the employee</h3>
          <p>When an unownn printer took a gallery of type and scrambled intelligenceto make a type secimen book,. it has survived not only five centuries, but also the leap into electronic type setting reamining essentillay un changed</p>

        </div>
      </div>
    </div>
    <div class="col-md-4 p-2 position-relative">
      <img class="home__sec2__img w-100" src="/assets/images/team-member-3.png"/>
      <div class="home__sec2__content w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="p-5">
          <h6 class="text-center">Job Title</h6>
          <h3 class="fw-bold">Name of the employee</h3>
          <p>When an unownn printer took a gallery of type and scrambled intelligenceto make a type secimen book,. it has survived not only five centuries, but also the leap into electronic type setting reamining essentillay un changed</p>

        </div>
      </div>
    </div>
    <div class="col-md-4 p-2 position-relative">
      <img class="home__sec2__img w-100 " src="/assets/images/team-member-4.png"/>
      <div class="home__sec2__content w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="p-5">
          <h6 class="text-center">Job Title</h6>
          <h3 class="fw-bold">Name of the employee</h3>
          <p>When an unownn printer took a gallery of type and scrambled intelligenceto make a type secimen book,. it has survived not only five centuries, but also the leap into electronic type setting reamining essentillay un changed</p>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <h3 class="fw-bold text-center my-5">Data- fueled Kaleitics Intelligent Solutions </h3>
  <div class="row">
    <div class="col-md-3 text-center">
      <img class="home__sec3__img" src="/assets/images/home-sec3/Layer_1-1.png"/>
      <h6 class="fw-bold mt-3">Cloud Migration</h6>
      <p>Define and execute your data-driven migration business case with Kaleitics pre-built templates and migration software Solutions-as-a-Service</p>
    </div>
    <div class="col-md-3 text-center">
      <img class="home__sec3__img" src="/assets/images/home-sec3/Layer_1-3.png"/>
      <h6 class="fw-bold mt-3">Data Engineering</h6>
      <p>Deliver trustworthy and reliable data to your enterprise with Kaleitics machine learning based data quality and orchestration Solutions-as-a-Service</p>
    </div>
    <div class="col-md-3 text-center">
      <img class="home__sec3__img" src="/assets/images/home-sec3/line_copy_4.png"/>
      <h6 class="fw-bold mt-3">Insights/AI</h6>
      <p>Visualize, analyze, track, and measure key performance indicators of your business with Kaleitics Platform of Insights Solutions-as-a-Service</p>
    </div>
    <div class="col-md-3 text-center">
      <img class="home__sec3__img" src="/assets/images/home-sec3/Layer_1-1.png"/>
      <h6 class="fw-bold mt-3">Robotic Process Automation</h6>
      <p>Identify candidate processes for automation and deploy bots to reduce operational errors with Kaleitics RPA ecosystem on our RPA Platform-as-a-Service</p>
    </div>

  </div>
  <div class="row mt-5">
    <div class="col-md-3 text-center">
      <img class="home__sec3__img" src="/assets/images/home-sec3/Capa_1.png"/>
      <h6 class="fw-bold mt-3">Internet of Things</h6>
      <p>Orchestrate connected devices, track assets, and deploy AI solutions to improve operational efficiencies with Kaleitics sensors, readers, IoT Platform-as-a-Service</p>
    </div>
    <div class="col-md-3 text-center">
      <img class="home__sec3__img" src="/assets/images/home-sec3/Capa_1-1.png"/>
      <h6 class="fw-bold  mt-3">RFID</h6>
      <p>Revolutionizes tracking with radio waves. Used in supply chains, access control, and inventory management for efficient, automated processes.</p>
    </div>
    <div class="col-md-3 text-center">
      <img class="home__sec3__img" src="/assets/images/home-sec3/Layer_1.png"/>
      <h6 class="fw-bold mt-3">Intelligence on Demand</h6>
      <p>Empower your employees' decision-making with predictive and prescriptive models through Kaleitics augmented AI Solutions-as-a Service</p>
    </div>
    <div class="col-md-3 text-center">
      <img class="home__sec3__img" src="/assets/images/home-sec3/Layer_1-2.png"/>
      <h6 class="fw-bold mt-3">Population health Management</h6>
      <p>Utilizing data-driven strategies to optimize health outcomes and resource allocation for communities.</p>
    </div>
  </div>
</section>

<section class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-6">
      <img class="w-100" data-aos="fade-right" src="/assets/images/home_sec1.png">
    </div>
    <div class="col-md-6">
      <div class="bg-triangle-lines h-100 align-items-center w-100 d-flex justify-content-start">
        <div class="w-75 text-start" data-aos="fade-left">

          <h6 class="text-brand">Kaleitics Values</h6>
          <h3 class="fw-bold">Integrity.Transperency.Respect</h3>
          <p>Kaleitics values are the heartbeat of our business and they help us differentiate ourselves from the rest of the world.</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="bg-chart-lines h-100 align-items-center w-100 d-flex justify-content-end">
        <div class="w-75 text-start" data-aos="fade-right">

          <h6 class="text-brand">Evaluate Kaleitics Capabilites</h6>
          <h3 class="fw-bold">Gain Velocity-to-Value and
scale economically with confidence</h3>
          <p>Kaleitics partnership approach, its people, and solution accelerators drives velocity and differentiates ourselves from the rest of the world.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img class="w-100" data-aos="fade-left" src="/assets/images/home_sec1.png">
    </div>
  </div>
</section>

<section class="container my-5">
  {% set title = "Let Us Know What You Think" %}
  {% set subtitle = "Please fill out the form below and our team will get back to you as soon as possible." %}
  {% set btntext = "Submit" %}
  {% include "./blocks/contact_form.njk" %}
</section>