// Author : Kaleitics

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

html,
body {
  min-height: 100vh;
}

.text-brand-yellow {
  color: #ffa500;
}

.round-full {
  border-radius: 50%;
}

.round-badge {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 18px;
}

.bg-orange {
  background-color: #ffa500;
}

.text-orange {
  color: #ffa500;
}

:root {
  --bs-body-font-family: "DM Sans", sans-serif;
  --swiper-pagination-bullet-height: 15px;
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-color: #ffa500;
}

.bg-primary-light-25 {
  background: var(--barely-blue, #f1ebfa);
}

.bg-primary-light-50 {
  background: var(--barely-blue, #8661b2);
}

.bg-primary-light-100 {
  background: var(--barely-blue, #542d8c);
}

header {
  & {
  }
  .logo {
    width: 200px;
  }
}

.bg-image-header {
  height: 600px;
}

.bg-image-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-overlay {
  background-color: rgb(70 48 94 / 58%);
  background-blend-mode: multiply;
}

form .form-control {
  border-radius: 8px;
  border: 1px solid black;
  padding: 12px;
  background-color: #f1ebfa;
}

.footer {
  background-color: #0f0b2a;
  color: white;
  padding: 10px;
  .logo {
    height: 50px;
    filter: brightness(0) invert(1);
  }
  .footer-heading {
    font-size: 18px;
  }
  ul {
    list-style-type: none;
    li {
      margin-top: 10px;
    }
  }
}

.mt-20 {
  margin-top: 140px;
}

.rb-image {
  border-radius: 15px;
  border: 1px solid black;
  width: 90%;
}

@import "blocks/header";
@import "blocks/data_integration_automation";
@import "blocks/case_study_vtabs";
@import "blocks/hexa_content";
@import "blocks/what_we_do";
@import "blocks/why_choose_kaleitics";
@import "blocks/key_benefits";
@import "blocks/data_engineering_architecture";
@import "blocks/circle_list";
@import "blocks/services_provided";
@import "blocks/pyramid";
@import "blocks/software_product_development";
@import "blocks/data_engineering_needs";
@import "blocks/avr_why_us";
@import "blocks/aboutus_swiper";
@import "blocks/contact_form";

@import "components/team_card";
