<!DOCTYPE html>
<html lang="{{ meta.lang or site.lang }}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    <title>Kaleitics</title>

    <link rel="stylesheet" href="{{ '/dist/app.css' | url }}"/>

    {% include "meta.njk" %}

    <script>
      function rem2px(rem) {
        var el = document.createElement("div");
        document
          .body
          .appendChild(el);
        el.style.width = "1000rem";
        var factor = el.clientWidth / 1000;
        document
          .body
          .removeChild(el);
        return rem * factor;
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

  </head>

  <body class="{{class if class else ''}}">
    <!-- skiplinks -->
    <a href="#main" class="visually-hidden-focusable ">Skip to main content</a>
    {% set sticky_navbar = true %}
    {% include "header.njk" %}
    {{ content | safe }}

    {% include "footer.njk" %}
    <script type="text/javascript" src="{{ '/dist/app.js' | url }}"></script>

  </body>
</html>